Repository PythonSmall-Q/XMOJ-Script, pull requests merged in 2023-10, with the labels that each got.

#5 Update XMOJ.user.js
  Update.json
  XMOJ.user.js
Labels: user-script

#17 发布正式版本 v1.0.200
  .github/workflows/AutoLablePR.yml
  .github/workflows/CodeQL.yml
  .github/workflows/Daily.yml
  AddonScript.js
  Compare.md
  README.md
  Server/wrangler.toml
  Update.json
  Update/AutoLabel.js
  XMOJ.user.js
  eula.md
  index.html
  sitemap-live/0.xml
  sitemap.xml
Labels: user-script, website, update-script, server, GitHub-related, addon-script

#22 更换为正常的Turnstile
  XMOJ.user.js
Labels: user-script

#25 Revert "更换Turnstile"
  Update.json
  XMOJ.user.js
Labels: user-script

#26 重大更新
  Update.json
  XMOJ.user.js
Labels: user-script

#33 Add Status Page
  index.html
Labels: website

#34 Add Status Embed
  Update.json
  index.html
Labels: website

#37 切换到团队
  README.md
  XMOJ.user.js
  index.html
Labels: user-script, website

#38 切换团队
  XMOJ.user.js
Labels: user-script

#39 切换
  XMOJ.user.js
Labels: user-script

#40 切换到团队repo
  XMOJ.user.js
Labels: user-script

#41 Update XMOJ.user.js
  XMOJ.user.js
Labels: user-script
